<div [@routerTransition]>
    <div class="container">
        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30" style="margin-left:50%">
            <h4 class="tx-gray-800 mg-b-5">SOCIOS</h4>
        </div>
            

        <div class="br-pagebody pd-x-20 pd-sm-x-30">
            <div class="row row-sm ml-5">
                <div class="col-lg-12">
                    <div class="card card-default mb-3">
                        <div class="card-header">
                            <h6 style="text-decoration: none;color: #333;">
                                <strong style="text-decoration: none;color: #333;">Administración de Socios
                                    <button pButton class="ui-button-raised ui-button-rounded float-right" label="Nuevo Socio"
                                         icon="fas fa-plus" data-toggle="modal" data-target="#modalAgregarMedico">
                                    </button>
                                </strong>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>