<div [@routerTransition]>
    <div class="container">
        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30" style="margin-left:40%">
            <h4 class="tx-gray-800 mg-b-5">SOCIOS</h4>
        </div>
            

        <div class="br-pagebody pd-x-20 pd-sm-x-30">
            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card card-default mb-3">
                        <div class="card-header">
                            <h6 style="text-decoration: none;color: #333;">
                                <strong style="text-decoration: none;color: #333;">Administración de Socios
                                    <button mat-raised-button color="primary" class="float-right" iconName="thumbs-up"
                                    data-toggle="modal" data-target="#modalAgregarSocio"
                                    >NUEVO

                                    </button>

                                   
                                </strong>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-body">
            <p-table [responsive]="true" #dt [columns]="cols" [value]="socios" selectionMode="single" [paginator]="true"
                [rows]="12" [(selection)]="selectedSocio">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Filtro"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                    <tr>
                        
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input *ngSwitchCase="'dni'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                            <input *ngSwitchCase="'apellido'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                            <input *ngSwitchCase="'nombre'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                            <input *ngSwitchCase="'fecha_nacimiento'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                            <input *ngSwitchCase="'domicilio'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                            <input *ngSwitchCase="'email'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                                <input *ngSwitchCase="'telefono'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                                <input *ngSwitchCase="'numero_socio'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                                <input *ngSwitchCase="'fecha_inicio'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">
                                <input *ngSwitchCase="'fecha_fin'" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                style="width:100%">


                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-medico let-columns="columns">
                    <tr [pSelectableRow]="medico">
                        <td *ngFor="let col of columns">
                                <div *ngIf='medico[col.field] && col.field!="fecha_nacimiento" && col.field!="fecha_fin" && col.field!="fecha_inicio"'>
                                        {{medico[col.field]}}
                                    </div>
                            <div *ngIf='medico[col.field] && col.field=="fecha_nacimiento"'>
                                {{medico[col.field] | date: 'dd/MM/yyyy'}}
                            </div>
                            <div *ngIf='medico[col.field] && col.field=="fecha_inicio"'>
                                {{medico[col.field] | date: 'dd/MM/yyyy'}}
                            </div>
                            <div *ngIf='medico[col.field] && col.field=="fecha_fin"'>
                                {{medico[col.field] | date: 'dd/MM/yyyy'}}
                            </div>
                           
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



<!-- ============================================================== -->
<!-- MODAL AGREGAR -->
<!-- ============================================================== -->
<div class="modal fade" id="modalAgregarSocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Socio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #cerrarAgregar>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="f.form.valid  
            && cargarSocio(f);
            " #f="ngForm" novalidate>
                <div class="modal-body">

                    <div class="form-group required">
                        <label class="control-label" for="dni">DNI:</label>
                        <input type="text" class="form-control" name="dni" [(ngModel)]="model.dni"
                            #dni="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.dni" severity="error" text="Campo Obligatorio.">
                        </p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="nombre">Nombre:</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="model.nombre"
                            #nombre="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.nombre" severity="error"
                            text="Campo Obligatorio."></p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="apellido">Apellido:</label>
                        <input type="text" class="form-control" name="apellido" [(ngModel)]="model.apellido"
                            #apellido="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.apellido" severity="error"
                            text="Campo Obligatorio."></p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="telefono">Telefono:</label>
                        <input type="text" class="form-control" name="telefonoMedico" [(ngModel)]="model.telefono"
                            #telefono="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.telefono" severity="error"
                            text="Campo Obligatorio."></p-message>

                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="domicilio">Domicilo=:</label>
                        <input type="text" class="form-control" name="domicilio"
                            [(ngModel)]="model.domicilio" #domicilio="ngModel" autocomplete="off"
                            required />
                        <p-message *ngIf="f.submitted && !model.domicilio" severity="error"
                            text="Campo Obligatorio."></p-message>

                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="email">Email:</label>
                        <input type="text" class="form-control" name="email"
                            [(ngModel)]="model.email" #email="ngModel" autocomplete="off"
                            required />
                        <p-message *ngIf="f.submitted && !model.email" severity="error"
                            text="Campo Obligatorio."></p-message>

                    </div>
                </div>
                <div class="modal-footer">
                    <button pButton class="ui-button-rounded ui-button-success" label="Aceptar" icon="fas fa-check"
                        type="submit">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
